@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-slate-700;
  }

  h1 {
    @apply text-2xl font-display font-bold;
  }

  h2 {
    @apply text-xl font-display;
  }

  a,
  button {
    transition: all 200ms ease-in-out;
  }
}

.collection-description p {
  margin-bottom: 1em;
}

.collection-description a {
  @apply text-blue-500;
}

#nprogress .bar {
  background: white !important;
  height: 4px !important;
}
